.custom-navbar {
  background-color: #345ca5;   /* change to any color */
  color: #16a5c2;
  border-bottom: 1px solid #e5e7eb;
}

.navbar-brand {
    color:  #ffffff;
}

.custom-navbar .nav-link {
  color: #ffffff !important;
  font-weight: 500;
}

.custom-navbar .nav-link.active {
  color: #a2e6f7 !important; /* highlight active link */
}